// Place all the styles related to the stocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {

     background: rgb(70, 3, 70); 
 }


h2{
    font-family: Arial, Helvetica, sans-serif;
}
div {
    color: white;
    font-size: 18px;
    font-weight: normal;

    border-color: white;
    border-style: solid;
    border-width: 2px;

    font-family: Arial, Helvetica, sans-serif;

    margin: 10px;
    padding: 5px;

    border-radius: 1%; 
}

// h1 {
//     color: black;
//     font-size: 48px;
//     font-weight: bold;

//     border-bottom: solid; 

// }

a {
     color: skyblue;
     font-size: 14px;
    
 }

.text-white {
    color: white;
}

// .text-green {
//     color: green;    
// }

// .background-red{
//     background-color: red;
// }

/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: midnightblue;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color:black;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: purple;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

.align-right {

    text-align: right;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: rgb(201, 14, 201);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 2px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }


